version: '3.8'

services:
  postgres-16-local:
    image: postgres:16-alpine3.21
    container_name: postgres-16v-local-kidari
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      PGDATA: /var/lib/postgresql/data/pgdata
    ports:
      - '${POSTGRES_PORT}:5432'
    volumes:
      - ${POSTGRES_DATA_PATH}:/var/lib/postgresql/data

  postgres-16-test:
    image: postgres:16-alpine3.21
    container_name: postgres-16v-test-kidari
    environment:
      POSTGRES_USER: ${POSTGRES_TEST_USER}
      POSTGRES_PASSWORD: ${POSTGRES_TEST_PASSWORD}
      POSTGRES_DB: ${POSTGRES_TEST_DB}
    tmpfs:
      - /var/lib/postgresql/data
    ports:
      - '${POSTGRES_TEST_PORT}:5432'
